@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700;1,900&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
}

/* base css */
.container {
  max-width: 1904px;
  margin: 0 auto;
}

.btn {
  background: linear-gradient(to right bottom,#ff8f26,#ff5117);
  border-radius: 99px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 9px 20px;
  transition: 0.2s linear;
}

.btn:hover {
  opacity: 0.9;
}

.btn.btn-white {
  background: #fff;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  padding: 9px 20px;
}