.header {
     padding:0 28px;
     border: 1px solid #e8ebed ;
}
.header-main {
     height: 65px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.header-logo {
     display: flex;
     align-items: center;
     gap: 0 8px;
}

.header-logo img {
     width: 38px;
     height: 38px;
     object-fit: cover;
     border-radius: 4px;
}

.header-search {
     width: 420px;
     height: 40px;
     padding: 0 16px 0 8px;
     border: 2px solid #e8e8e8;
     border-radius: 20px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.header-search i {
     width: 32px;
     height: 32px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 14px;
}

.header-search input {
     flex: 1;
     height: 40px;
     border: none;
     outline: none;
     padding: 0 4px;
     caret-color: #444;
     font-size: 14px;
}

.header-search input:focus + .header-search {
     border: 2px solid #000;
}