<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link rel="stylesheet" href="../css/base.css">
     <link rel="stylesheet" href="../css/home.css">
     <title>VietNam History</title>
</head>
<body>
     <header class="header">
          <div class="container">
               <div class="header-main">
                    <div class="header-logo">
                         <img src="https://fullstack.edu.vn/static/media/f8-icon.18cd71cfcfa33566a22b.png" alt="logo">
                         <p class="logo-text">Học lịch sử trực tuyến</p>
                    </div>
                    <div class="header-search">
                         <i class="fa-solid fa-magnifying-glass"></i>
                         <input type="text" placeholder="Tìm kiếm khóa học" >
                    </div>
                    <div class="header-action">
                         <button class="btn btn-white">Đăng nhập</button>
                         <button class="btn header-btn">Đăng ký</button>
                    </div>
               </div>
          </div>
     </header>

     <main class="main" >
          <div class="container">

          </div>
     </main>

     <footer class="footer">
          <div class="container">

          </div>
     </footer>

</body>
</html>